:root {
    --primary-color: #16262e;
    --accent3-color: #3c7a89;
    --accent1-color: #2e4756;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff
}

.hero article {
    position: absolute;
    top: 600px;
    color: #fff;
    background-color: var(--accent3-color);
}

.hero article img {
    float: right;
    width: 125px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #333;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1;
}

.navigation a {
    display: block;
    color: #333;
    padding: 20px;
    text-decoration: none;
    font-size: 1.3rem;
}

.navigation a:hover {
    color: #333;
    text-decoration: underline;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    place-items: center;
}

.history img {
    width: 256px;
    height: auto;
}

.history h2 {
    grid-column: 1 / 4;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    place-items: center;
    gap: 15px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.adventure h2 {
    grid-column: 1 / 6;
}

.adventure img {
    width: auto;
    height: 150px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialmedia {
  display: flex;
  gap: 20px;
}