:root {
    --border: 1px solid rgb(0 0 0 / 0.2);
    --one-rem: 1rem;
    --center-text: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--one-rem);
    border: var(--border);
    padding: var(--one-rem);
    background-color: #eee;
    color: #333;
    text-align: var(--center-text);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--one-rem);
    border-top: var(--border);
    text-align: var(--center-text);
}

main {
    max-width: 500px;
}