* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid rgb(0 0 0 / 0.2);
    --one-rem: 1rem;
    --center-text: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    margin: 10px;
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 10px;
}

aside {
    width: 40rem;
    text-align: var(--center-text);
    position: relative;
}

aside img {
    width: 400px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 220px;
}

footer {
    margin-top: var(--one-rem);
    border-top: var(--border);
    text-align: var(--center-text);
}

main {
    max-width: 500px;
}

/* Class Selectors */
.box {
    margin: var(--one-rem);
    padding: var(--one-rem);
    border: 1px solid gray;
    background-color: black;
    color: whitesmoke;
}

.box a {
    color: white;
}